genpp/version.py*
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
*.manifest
*.spec
*.cover
*.mo
*.pot
*.log
*.sage.py
__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.hypothesis/
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
.env
.venv
env/
venv/
ENV/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/

