include		  AUTHORS
include		  COPYING
include		  ChangeLog
include		  INSTALL
include		  MANIFEST
include		  NEWS
include		  bootstrap.sh
include		  compile-all.py
include		  setup.py
include		  README.md
recursive-include Docs
recursive-include bin
recursive-include samples
recursive-include src
recursive-include src		 *.py
recursive-include toys
